*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class],
ol[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}


.bgContainer {
    width: 100%;
    background-image: url("https://www.verywellhealth.com/thmb/Saj6SFcdQruzDv-71c7d14_Yzrs=/1167x785/filters:fill(87E3EF,1)/HEADSTONE-56a274843df78cf7727617f2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainContainer {
    margin: 0 auto;
    max-width: 1230px;
    padding: 0 15px;
    width: 100%;
}
