.navbarItems {

    flex-direction: column;
}

.navbarItem {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.opo {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbarBottom {
    justify-content: center;
}
.block{
    display: flex;
    justify-content: space-between;
}
.botNav {
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .opo {
        display: block;
    }

    .navbar {
        display: block;
    }
}